* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffbf00;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #8f4a01;
    font-size: 32px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fce8b1;
    color: #8f4a01;
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

#gridField {
    display: flex;
    flex-direction: column;
}

#gridTemplate {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 3px #8f4a01;
    margin: 5vh auto;
    width: auto;
    height: 80vh;
    flex: 1;
}

.gridRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: flex-start;
}

.gridSquare {
    outline: 1px solid #8f4a01;
    background-color: #fce8b1;
    flex: 1;
    overflow: hidden;
}

#settings {
    display: flex;
    justify-content: center;
    gap: 30px
}

#colorOption {
    display: flex;
    flex-direction: column;
}

#gridSizeOption {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#settings button {
    padding: 5px;
    background-color: #ffbf00;
    border: 2px solid #8f4a01;
    border-radius: 5px;
}

#settings button:hover {
    box-shadow: 2px 2px #8f4a01;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: #ffbf00;
    border-radius: 5px;
    height: 10px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #8f4a01;;
    border-radius: 50%;
}

select {
    background-color: #ffbf00;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 2vh;
    background-color: #ffbf00;
    border-top: 3px solid #8f4a01;
}
