* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#gridField {
    display: flex;
    flex-direction: column;
}

.gridTemplate {
    box-shadow: 0 0 5px 3px rgb(158, 158, 158);
    margin: 20px auto;
}

.gridRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridSquare {
    width: 40px;
    height: 40px;
    outline: 1px solid rgb(189, 189, 189);
    background-color: rgb(255, 255, 255);
}