.header {
    background-color: aqua;
    text-align: center;
}

.gridField {
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridSquare {
    width: 40px;
    height: 40px;
    outline: 1px solid rgb(29, 29, 29);
    background-color: black;
}